<%= render "navbar", list: @list %>
<%= render "banner", list: @list %>

<div class="container mt-4" >
  <ul class="list-group">
    <% @lists.each do |list| %>
      <li class="list-group-item"><%= link_to(list.name, list_path(list))%></li>
    <% end %>
  </ul>
</div>
